/*==============================================================================
Index
----------------------------------------
01 - generic global bootstrap colors
02 - global scaffolding
03 - brand colors
04 -
==============================================================================*/


/*--------------------
01 - generic global bootstrap colors
--------------------*/

//## Gray and base colors for use across Bootstrap.
$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee

/*--------------------
02 - global scaffolding
--------------------*/

$white: #fff;
$black: #000;
$font-gray: #273239;
$alto: #d8d8d8;
$text-color: $black;
$link-color: $black;
$link-hover-color: $black;
$link-hover-decoration: none;

/*--------------------
03 - brand colors
--------------------*/

$brand-primary-font: $font-gray;
//Generating Greys colors
$brand-silver: #bababa;
$brand-gray: #45555f;
$brand-slate-gray: #797d82;
$brand-medium-gray: #ddd;
$brand-light-medium-gray: #e9eaeb;
$brand-light-gray: #f3f3f3;
$brand-ultra-light-gray: #fafafa;
$brand-medium-light-gray: #d4dbe0;
//Generating Generic colors
$generic-red: #ec0100;
$generic-dark-red: #ba1b19;
$generic-green: #01a5a6;
$generic-dark-green: #007a89;
$generic-blue: #2d2d89;
$generic-dark-blue: #272756;
//Generating Fonts colors
$brand-font: #273239;

/*--------------------
04 - Brand_colors_scss
--------------------*/

//Generating Principal colors
$brand-primary-light: #0E7AAE;
$brand-primary-dark: #033A70;
$brand-body-bg: #fff;
$brand-footer-title: #fff;
$brand-footer-links: #fff;
// %light-gradient: linear-gradient(-45deg, #f9f9f9 10%, #ffffff 35%);