/* ==============================================================================
Index
----------------------------------------
01 - c-awards
02 -
03 -
04 -
05 -
06 -
07 -
08 -
============================================================================== */

/* 01 - c-awards */
.c-awards{
	margin: 0 auto;

	.o-comp__content {
		margin: 0px auto 96px auto !important;
		flex-flow: column wrap;
		display: flex;

			.c-awards__item{
				flex: 1;
				min-width: 45%;
				position: relative;
				margin-bottom: 24px;

				.o-awards__img {
					width: 90%;
					margin: -10% 7% 5% 7%;
					position: relative;
					z-index: 1;

					img {
						width: 100%;
						object-fit: cover;
					}
				}

				.o-awards__item {
					background: $white;
					border: 1px solid rgba($gray, 0.3);
					padding: 3em;
					margin: 0% 0% 5% 5%;
					position: relative;
					color: $brand-font;
					z-index: 2;
					box-shadow: -20px 20px 20px rgba(0,0,0, 0.1);

					.o-awards__item__category {
						color: $brand-primary-dark;
						border-bottom: 1px solid $brand-primary-light;
					}
				}
			}
		}
	}


@media screen and (min-width: $screen-sm) {
	.c-awards{
		.o-comp__content{
			flex-flow: row wrap;
			max-width: calc(1052px + 96px * 2);

			.c-awards__item{
				
				.o-awards__item {
					padding: 2em;
					margin: 0% 0% 10% 10%;
					min-height: 425px;

					p{
						color: rgba(39, 50, 57, 0.7);
						font-size: 15px;
					}

					.o-awards__item__category {
						margin-top: 1em;
						margin-bottom: 2em;
						padding-bottom: 0.5em;
						border-bottom: 1px solid $brand-primary-light;
					}
				}
			}
		}
	}
}