/* Emerge to toolkit-custom.css - By:Hemmat - Date:15Jan200 */
/*==============================================================================
Index
----------------------------------------
01 - c-compare-carousel component new styles
02 - Background colors for compare-carousel (modifier)
03 - Apply link for compare-carousel (modifier)
04 - Screen Viewpoint fix
==============================================================================*/
/* --------------------
01 - Card Features
-------------------- */
.c-compare-carousel{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	align-items: center;
}
.c-compare-carousel .o-comp__title{
  margin-bottom: 1em;
}
.c-compare-carousel .o-comp__title h2{
  margin: 0 0 1em 0;
  max-width: 620px;
  text-align: center;
}
.c-compare-carousel .o-comp__title h2,
.c-compare-carousel .carouselicon,
.c-compare-carousel .carouselimage,
.c-compare-carousel .c-compare-carousel-item__title,
.c-compare-carousel .c-compare-carousel__more{
  display: none !important;
}
.c-compare-carousel.-title .o-comp__title h2,
.c-compare-carousel.-icons .carouselicon,
.c-compare-carousel.-highlightnumber .c-compare-carousel-item__title,
.c-compare-carousel.-images .carouselimage,
.c-compare-carousel.-viewmore .c-compare-carousel__more{
  display: block !important;
}
.c-compare-carousel.-highlightnumber .c-compare-carousel-item__title{
	margin-bottom: 0;
	padding-bottom: 0;
}
.c-compare-carousel .c-compare-carousel-item__info > *:not(:first-child){ 
	padding-right: 1em !important;
	padding-left: 1em !important;
}
.c-compare-carousel .c-compare-carousel-item__info > *:last-child{ 
	padding-bottom: 1em !important;
}
.c-compare-carousel .o-bullet-points{
	margin-top: 2em;
}
.c-compare-carousel .c-compare-carousel-item__info .c-compare-carousel-item__category{
	margin-top: 2em !important;
	margin-bottom: 0em !important;
	text-transform: none;
	font-weight: normal;
}
.c-compare-carousel .c-compare-carousel-item__desc{
	margin-top: 0.5em !important;
	margin-bottom: 0em !important;
}
.c-compare-carousel .c-compare-carousel-item__info{
	padding: 0em;
}
.c-compare-carousel.-icons .c-compare-carousel-item__info{ /* icon */
	padding: 1em 0 0 0 !important;
}
.c-compare-carousel.-icons .carouselicon{ /* icon */
  	width: 35% !important;
  	max-width: 96px;
  	margin: 1em auto 0em auto;
}
.c-compare-carousel.-images .c-compare-carousel-item__info{ /* image */
	padding: 0 !important;
}
.c-compare-carousel.-images .carouselimage{ /* image */
 	margin-top: -1em;
 	width: 100%;
}
.c-compare-carousel .owl-carousel .owl-item{
  	margin-bottom: 40px !important;
}
.c-compare-carousel .c-compare-carousel-item__info .o-bullet-points li{
	font-size: 0.9em;
	padding-bottom: 1em;
}
/* 02 - Background Colors for Card Features */
.c-compare-carousel.-lightgray-background{
	background-color: rgba(221, 221, 221, 0.3);
}
.c-compare-carousel.-darkgray-background{
	background-color: rgba(39, 50, 57, 1);
}
.-darkgray-background .o-comp__title h2{
	color: #FFFFFF !important; /* title color fix for Dark Background */
}
.-darkgray-background .c-compare-carousel-item__category{
	color: rgba(255,255,255,1) !important; 
}
.-darkgray-background .c-compare-carousel-item__desc,
.-darkgray-background .o-comp__title_desc{
	color: rgba(255,255,255,.5) !important; 
}
.-darkgray-background .o-bullet-points{
  	color: rgba(255,255,255,.7) !important; 
}
.-darkgray-background .c-compare-carousel-item__info{
  	border: 1px solid rgba(255, 255, 255, 0.2) !important;
  	background-color: rgba(39, 50, 57, 1) !important;
}
.-darkgray-background .c-compare-carousel-item__info:hover{
  	border: 1px solid rgba(255, 255, 255, 1) !important;
  	background-color: rgba(39, 50, 57, 1) !important;
}
.-darkgray-background .c-compare-carousel__more-content th{
	color: rgba(255,255,255,1) !important; 
	background-color: rgba(39, 50, 57, 1) !important;
   	border: 1px solid rgba(255, 255, 255, 0.2) !important;
}
.-darkgray-background .c-compare-carousel__more-content td{
  	color: rgba(255,255,255,.5) !important; 
   	border: 1px solid rgba(255, 255, 255, 0.2) !important;
}
.-darkgray-background .owl-carousel .owl-nav button.owl-next div,
.-darkgray-background .owl-carousel .owl-nav button.owl-prev div{
  	color: rgba(255, 255, 255, 0.2) !important;
   	border: 1px solid rgba(255, 255, 255, 0.2) !important;
}
.-darkgray-background .owl-carousel .owl-nav button.owl-next div:hover,
.-darkgray-background .owl-carousel .owl-nav button.owl-prev div:hover{
  	color: #ec0100 !important;
   	border: 1px solid #ec0100 !important;
}
/* 05 - Screen Viewpoint fix */
@media screen and (max-width: 600px) {/* Extra small devices (phones, 600px and down) */}
@media screen and (min-width: 600px) {/* Small devices (portrait tablets and large phones, 600px and up) */}
@media screen and (min-width: 768px) {/* Medium devices (landscape tablets, 768px and up) */}
@media screen and (min-width: 992px) {/* Large devices (laptops/desktops, 992px and up) */}
@media screen and (min-width: 1232px) {/* Extra large devices (large laptops and desktops, 1200px and up) */}



@media (min-width: 992px){
    .c-compare-carousel-item__info .o-bullet-points li {
        font-size: 16px; 
    }
}
.c-compare-carousel .o-bullet-points ul li:last-child {  
    margin: 0.5em 0 0 0;
    padding: 0px;
}
.c-compare-carousel .o-bullet-points ul li:last-child::before {
    content: "";
}


