/*==============================================================================
Index
----------------------------------------
01 - c-form component new styles
02 - Background colors (modifier)
03 - Apply (modifier)
04 - Screen Viewpoint fix
==============================================================================*/
/* 01 - Form spacing and position styles */
/*.c-formbuild{
  width: 50%;
}*/
// .c-formbuild .o-comp__content{
//   padding-top: 2.5rem;
//   padding-bottom: 2.5rem;
//   margin-top: 2.5rem;
//   margin-bottom: 2.5rem;
// }
.c-formbuild .c-formbuild__title{
  margin-top: 18px;
  margin-bottom: 2.5rem;
}
/* 02 - Background Colors for Card Features */
.c-formbuild.o-lightgray-background {
  background-color: rgba(221, 221, 221, 0.3);
}
.c-formbuild.o-darkgray-background {
  background-color: rgba(39, 50, 57, 1);
}
.o-darkgray-background .o-comp__title h2 {
  color: #FFFFFF !important; /* title color fix for Dark Background */
}
.o-darkgray-background label
{
  color: rgba(255,255,255,.7) !important;
}
.o-darkgray-background label,
.o-darkgray-background input[type=checkbox]:checked+label{
  color: rgba(255,255,255,.7) !important;
}
/* -------------------------
03 - Form fields styles
------------------------- */
/* ---------------
fieldst - style
----------------- */
.o-form__field {
  display: flex;
  align-items: flex-start;
  min-height: inherit !important;
  min-width: 300px;
}
.o-form__field {
  /* Emirati page checkbox fix â€“ Hemmat â€“ 4Feb2020 */
  min-height: 75px !important;
}
/* ------------
input - style
-------------- */
.o-input {
  width: 100%;
  height: 50px;
  color: #273239;
  background: #fff;
}
.o-input, .o-input--captcha {
  display: inline-block;
  border: solid 1px #ddd;
  padding-left: 26px;
  margin-bottom: 18px;
  border-radius: 0;
  box-shadow: none;
  padding-right: 30px;
  font-size: 17px;
}
.c-input-text--captcha {
  width: 100%;
  margin-bottom: 40px;
}
.c-input-text, .c-input-text--captcha {
  display: flex;
  flex-direction: column;
  position: relative;
}
.c-input-telephone {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  color: #273239;
}
.c-input-telephone__number {
  font-size: 17px;
  padding-left: 24px;
  width: calc(100% - 60px);
  margin-left: 0;
  border-left: none;
  background: #fff;
}
.c-input-telephone__wrap input.c-input-telephone__country {
  border-right: none;
  font-size: 17px;
  direction: ltr;
}
.c-input-telephone__wrap {
  position: relative;
  display: flex;
  height: 50px;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 18px;
}
.c-input-telephone__wrap input {
  border: 1px solid #ddd;
}
/*-----------------------
input label - form style
------------------------- */
.c-input__label {
  font-size: 15px;
  letter-spacing: .1px;
  font-weight: 600;
  display: block;
  line-height: 1.67;
  order: -1;
  padding-bottom: 6px;
  left: 0;
  color: rgba(39,50,57,.7);
}
/* -----------------------
radio button - form style
-------------------------- */
.o-input__radio {
  position: relative;
  font-weight: 400;
  margin-left: inherit;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.c-leads__radio-btn{
  margin-bottom: 18px;
}
.c-leads__radio-btn.-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.c-leads__radio-btn.-horizontal > * {
  min-width: 25%;
}
.o-input__radio label {
  margin-left: 10px;
  margin-bottom: 10px;
}
/*----------------------------
validation error - form style
------------------------------*/
.c-input__error {
  font-size: 13px;
  font-weight: 500;
  opacity: 0;
  display: block;
  text-align: right;
  bottom: 0;
  position: absolute;
  right: 0;
}
/*-------------------
button - form style
---------------------*/
.o-btn-medium-red:active, 
.o-btn-medium-red:hover {
  color: #fff;
  background-color: #ba1b19;
  border-color: #ba1b19;
}
.o-btn-medium-red, 
.t-personal .o-btn-medium-red {
  background-color: #ec0100;
  border-color: #ec0100;
}
.o-btn-medium-red {
  color: #fff!important;
  opacity: 1;
  margin: auto;
}
.o-btn, 
.o-btn-medium-red, 
.o-btn-red, 
.o-btn-transparent {
  font-size: 15px;
  letter-spacing: .1px;
  padding: 0 32px;
  line-height: 48px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  cursor: pointer;
  min-width: 50px;
  width: 100%;
  margin-top: 18px;
  margin-bottom: 18px;
}
.c-contact-form__buttons button{
  min-width: initial;
}
.c-contact-form__buttons {
  padding-left: 0px;
  padding-right: 0px;
}
.c-calculator__apply-button-holder { /* two buttons */
  display: flex;
  flex-flow: row;
  flex: 1 1 auto;
  justify-content: space-between;
  padding: 24px 0 0;
}
.c-calculator__apply-button-holder .o-btn, 
.c-calculator__apply-button-holder .o-btn-transparent, 
.c-calculator__apply-button-holder .o-btn-red, 
.c-calculator__apply-button-holder .o-btn-medium-red, 
.c-calculator__apply-button-holder .o-btn-white{
  width: 48%;
  margin: 0;
}
@media screen and (min-width:768px) {
  .hero-pdp__content.sticky .hero-pdp__btn{
    min-width: 180px;
  }
}
/*-------------------
checkbox - form style - by: hemmat - 2Feb2020
----------------------*/
.c-leads__checkbox-btn{
  margin-top: 0px;
  margin-bottom: 18px;
}
.c-leads__checkbox-btn.-horizontal{ 
  /* horizontal align checkbox grid */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.c-leads__checkbox-btn.-horizontal>*{ 
  /* horizontal align checkbox container */
  min-width: 25%;
}
.o-input__checkbox{
  margin-bottom: 1em;
}
.o-input__checkbox label{
  position: relative;
  cursor: pointer;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: .1px;
  color: rgba(39,50,57,.7);
}
.o-input__checkbox input[type=checkbox]:checked+label{
  opacity: 1;
  color: #273239;
}
.o-input__checkbox label:before{ 
  /* style not-selected new checkbox */
  content: "";
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25%;
  display: inline-block;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 0px 1px rgba(39,50,57,.4);
}
.o-input__checkbox input[type=checkbox]:checked+label:before{ 
  /* style selected new checkbox */
  background-color: #ec0100;
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 0px 1px #ec0100;
}
.o-input__checkbox input[type=checkbox]{ 
  /* hide the symantic checkbox */
  display: block;
  transform: translate(0%, 25%);
  visibility: hidden;
  height: 0px;
}
/*-----------------------
toggle switch button - form style 
--------------------------*/
.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 0px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #ddd;
  transition: background-color ease 0.3s;
}
.toggle:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  width: 26px;
  height: 26px;
  background: #fff;
  left: 3px;
  top: 3px;
  border-radius: 0px;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}
.toggle:checked {
  background-color: #ec0100;
}
.toggle:checked:before {
  left: 32px;
}
/*-----------------------
Qualtity input - form style 
--------------------------*/
.c-number-counter{
  width: 100%;
}
.c-number-counter__wrap {
  position: relative;
  width: 100%;
  display: inline-block;
}
input.qty {
  width: 100%;
  text-align: center;
}
input.qtyplus {
  background: #fff url(assets/plus.svg) no-repeat center center;
  right: 10px;
  top: 3px;
  text-indent: -9999px;
  box-shadow: none;
}
input.qtyminus {
  background: #fff url(assets/minus.svg) no-repeat center center;
  left: 10px;
  top: 3px;
  text-indent: -9999px;
  box-shadow: none;
}
input.qtyminus, 
input.qtyplus {
  position: absolute;
  width: 32px;
  height: 38px;
  border: 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
}
.form-control {
  border: 1px solid #d2d8dd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  font-size: 0.875rem;
  padding-left: 15px;
  height: calc(2.55rem + 2px);
  color: #717a82;
}
/*-----------------------
Range Slider - form style 
--------------------------*/
.o-range-slider {
  margin: 0px auto 18px;
  width: 100%;
}
.o-range-slider__title {
  width: 100%;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.o-range-slider .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #45555f;
  outline: none;
  transition: opacity .2s;
  background-color: #ec0100;
}
.o-range-slider__label-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  letter-spacing: .1px;
  color: rgba(39,50,57,.7);
  line-height: 2.3;
  margin-bottom: 18px;
}
/*---------------------
input with currency - form style
-----------------------*/
.c-calculator-overlay__input, 
.c-calculator-overlay__input-borderless{
  margin-top: inherit;
  width: 100%;
}
.c-calculator-overlay__input .c-calculator__input-text{
  margin: 0px;
}
.c-calculator-overlay__input .c-calculator__input-text-box{
  width: 100%;
  max-width: inherit;
  padding: 15px 0 15px 75px;
  border: solid 1px rgba(39,50,57,.2);
}
.c-calculator__input-text-box {
  flex-shrink: 2;
  border: 0;
  padding: 15px 5px;
  font-size: 18px;
  letter-spacing: 0;
  background: #fff;
  color: #273239;
  max-width: inherit;
}
/*---------------------
textarea - form style
-----------------------*/
textarea.o-input{
  padding-top: 20px;
  height: auto;
}
/*------------------
Select - form style
--------------------*/
.c-input-select, 
.c-input-select--trigger {
  width: 100%;
  cursor: pointer;
}
.c-input-select, 
.c-input-select--trigger, 
.c-input__text-area {
  display: flex;
  flex-direction: column;
  position: relative;
}
.c-input-select__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}
/* ----------------
 upload file
-------------------*/
.c-leads__file{
  margin-bottom: 32px;
}
.c-leads__file input[type="file"] {
  border: 1px solid #ddd;
  padding: 1em;
  width: 100%;
}
.c-leads__file input[type="file"]::-webkit-file-upload-button{
   background-color: #fff;
   padding: 6px 10px;
   font-weight: bold;
   border-radius: 0;
   border: none;
}
/*------------------
radio box - form style
--------------------*/
@media (min-width: 768px){
  .o-calculator-radio__wrapper .o-calculator-radio__label {
  width: 45%;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 5px;
  }
  .o-calculator-radio__wrapper .o-calculator-radio {
    -ms-flex-direction: row;
    flex-direction: row;
    }
}
.o-calculator-radio__wrapper .o-calculator-radio__label {
width: 100%;
-ms-flex: 1 0 auto;
flex: 1 0 auto;
margin: 5px 0;
}
.o-calculator-radio__wrapper .o-calculator-radio {
-ms-flex-direction: column;
flex-direction: column;
}
.o-calculator-radio {
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  }
.o-calculator-radio__title {
  color: rgba(39, 50, 57, 0.7);
}
/*------------------
one checkbox - no label - form style
--------------------*/
.checkboxcontainer {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-size: 17px;
  line-height: 1.5;
  letter-spacing: .1px;
  color: rgba(39, 50, 57, 0.7);
}
/* Hide the browser's default checkbox */
.checkboxcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25%;
  display: inline-block;
  -webkit-transform: translate(0%, 25%);
  transform: translate(0%, 25%);
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(39, 50, 57, 0.4);
  box-shadow: 0px 0px 0px 1px rgba(39, 50, 57, 0.4);
}
/* When the checkbox is checked, add a blue background */
.checkboxcontainer input:checked ~ .checkmark {
  background-color: #ec0100;
  border: 2px solid #FFFFFF;
  -webkit-box-shadow: 0px 0px 0px 1px #ec0100;
  box-shadow: 0px 0px 0px 1px #ec0100;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.contcheckboxcontainerainer input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.checkboxcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*------------------
form stepper
--------------------*/
body {
  /* counter */
  counter-reset: stepCounter; 
}
form#wizard fieldset {
  padding: 0;
  margin: 0; 
  border: 0;
}
.formsteps {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 24px;
  
  .step {
      flex: 1;
      color: #ddd;
      margin-right: 2px;
      margin-left: 2px;
      padding: 0px 0px 5px 0px;
      border-bottom: 1px solid #ddd;
      content:" ";
  
      &::before {
          font-weight: bold;
          text-align: center;
          /* counter */
          counter-increment: stepCounter ;
          content: counter(stepCounter) ".";
      }
      &.completedstep,
      &.activestep {
          color:  #ec0100;
          border-bottom: 3px solid #ec0100;
      }
  }
}
.steptitle {
  font-weight: bold;
  color: rgba(39, 50, 57, 1);
  font-size: 24px;
}
.stepdesc {
  color: rgba(39, 50, 57, 0.5);
  margin-bottom: 12px;
  padding-bottom: 12px;
  font-weight:  normal;
}
