
/* By:Hemmat - Date:22April 2020 */
/*==============================================================================
Index
----------------------------------------
01 - Widget columns component styles
02 - Widget columns width sizes styles (modifier)
03 - Background Colors for "widgetcolumns" component (modifier)
04 - Screen Viewpoint fix
==============================================================================*/
/* 01 - Widget columns component styles */

.owl-carousel{ z-index: 0 !important; /* to overlayer the hero slideshow*/}

.c-hero-forms-widgetcolumns{ 
  padding-top: 0;
  padding-bottom: 3rem;
  z-index: 2;
  
  &.-with-hero{
    transform: translateY(-10%);
  }
  
  &__content {
    justify-content: center;
    align-items:stretch;
  }
  .o-comp__content {
    margin: 2em;
    flex: 1;
    max-width: calc(1040px + 96px * 2) !important;
  }

/* 02 - columns width sizes styles */
  .c-widgetcolumns__col,
  .c-widgetcolumns__col.-onethird,
  .c-widgetcolumns__col.-twothird{
    display: flex;

    .o-input__radio input[type="radio"]:checked + label:before{
      border: $brand-primary-dark;
      background: $white;
    }
    .o-input__radio input[type="radio"]:checked + label:after{
      background: $brand-primary-dark;
    }
  }

  .c-widgetcolumns__col { /* if 1/2 column width */
    flex: 1;
  
    &.-onethird { /* if 1/3 column width */
      flex: 1;
      background-color: $brand-primary-light;
      color: $brand-font;

      h3{
        
        color: $brand-font;

        .titleicon{
          border-top: 5px solid $brand-primary-dark;
          padding:28px 6px 0px 6px;

          img{
            width:34px;
          }
        }
      }
      p{
        padding: 0px 1em 0.5em;
      }
      form {
        margin-top: 24px;
        color: $gray-dark;
        .o-form__field{
          width: 100%;
        }

        .o-btn-medium-adcp{
          background-color: $brand-font;
          color: $white;
          border: 0px;
          margin: 0;
        }
        .o-btn-medium-adcp-nostyle{
          background-color: transparent;
          border: 0px transparent;
          color: $brand-font;
          flex: 1;
          text-align: unset;
          padding-left: 0;
          padding-right: 0;
          margin: 0;
        }
      }
    }
    
    &.-twothird { /* if 2/3 column width */
      flex: 2 !important;
      background-color: $brand-font;
      background-image: url(../images/search-widget-bg.png);
      background-position: top left;
      background-repeat: no-repeat;
      margin-bottom: 24px;

      h3{
        color: $brand-primary-light;

        .titleicon{
          border-top: 5px solid $brand-primary-dark;
          padding:28px 6px 0px 6px;
          
          img{
            width:34px;
          }
        }
      }
      p{
        color: $gray-lighter;
        width: 100%;
        padding: 0px 1em 0.5em;
      }
      form {
        margin-top: 24px;
        .o-form__field{

          label{
            color: $brand-font;
          }

          .c-contact-form__select{
            margin-bottom: 0px;
          }

          .o-btn-medium-adcp{
            background-color: transparent;
            border: 1px solid $brand-primary-light;
            color: $brand-primary-light;
            flex: 1;
            margin: 0;
          }
          .o-btn-medium-adcp-nostyle{
            background-color: transparent;
            border: 0px transparent;
            color: $brand-primary-light;
            flex: 1;
            text-align: unset;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
            margin: 0;
          }
        }
      }
    }

  }

}

/* 04 - Screen Viewpoint fix */
@media (min-width: 768px) { /* Medium devices (tablets, 768px and up) */
  .c-hero-forms-widgetcolumns {

    &.-with-hero{
      transform: translateY(-15%);
    }
    &__content{ 
      display: flex; 
      display: -webkit-flex; 
      flex-direction: row; 
    }
    .o-comp__content {
      margin: 2em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .c-widgetcolumns__col { 
      margin-right: 2rem; 

      &.-onethird { /* if 1/3 column width */

        h3{
          flex: 1;
          .titleicon{
            border-top: 5px solid $brand-primary-dark;
  
            img{
              width:34px;
            }
          }
        }
        p{
          flex: 1;
          color: $gray;
          padding: 0px 1em 1em;
        }
        form {
          flex: 1;
          flex-grow: 5;
          display: flex;
          flex-flow: wrap;
          align-content: flex-end;
          margin-top: 24px;
          
            .o-form__field{
              margin: 0px 10px 0px;
            }
        }
      }

      &.-twothird { /* if 2/3 column width */
        margin-bottom: 0px;

        h3{
          flex: 1;
          .titleicon{
            border-top: 5px solid $brand-primary-dark;

            img{
              width:34px;
            }
          }
        }
        p{
          flex: 1;
          color: $gray-lighter;
          padding: 0px 1em 1em;
          width: 50%;
        }
        form {
          flex: 1;
          flex-grow: 5;
          align-content: flex-end;
          margin-top: 24px;
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
          
            .o-form__field{
              flex: 1;
              margin: 0px 10px 0px;

              // .o-btn-medium-adcp-nostyle{
              //   margin-top: 18px !important;
              //   margin-bottom: 18px !important;
              // }
            }
        }
      }

    }

  }

}
