// ------------------------------------------ 
// This is ABOUT-US section toolkit-custom Misc. debug/overwite css  
// ------------------------------------------ 
/* Req from Hemmat 01/20 */
.c-promotion-carousel-item {
  /* fix for trending now transperant background when loading */
  background: #ffffff !important;
}
.c-promotion-carousel-item__desc {
  /* fix for "trending now" body text height when loading */
  height: 3em !important;
  line-height: 1.7 !important;
  overflow: hidden !important;
}
.c-board-committee .c-offer-card__details.corp_gover_tabs {
  margin-bottom: 0px;
  min-height: 190px;
}
.c-aboutus-tabs .container {
  max-width: 1040px;
}
.o-comp__content .o-comp__title .o-comp-head-center,
.o-comp__content .o-comp__title .o-comp-head-center sup {
  text-align: center;
}

@media (max-width: 768px) {
  .c-news-carousel .o-comp__content {
    margin-bottom: 75px;
    margin-top: 75px;
  }
}
/* Req  by Hammat 22-Jan-20*/
@media screen and (max-width:768px) {
  .c-page-seperator+.o-comp {
    margin-top: 0px;
  }
}
@media screen and (max-width:768px) {
  .c-promotion-carousel .o-comp__content {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
/* 22-Jan-20*/
@media screen and (max-width:768px) {
  .c-custom-no-border .c-board-card__details {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
@media (max-width: 768px) {
  .o-tabs__tab-content-summary p {
    max-height: none;
  }
}
.c-reports-table table td:first-child,
.c-table-seven-cols table td:first-child,
.c-table-two-cols table td:first-child,
.c-thumbnails-table--datareports table td:first-child,
.c-thumbnails-table--reports table td:first-child {
  z-index: 999999;
}
/* Req  by Hammat 26-Jan-20*/
.c-offer-card__expiration {
  font-size: 15px;
}
/* Req  by Hammat 26-Jan-20*/
.c-ticker {
  z-index: 999999 !important;
}
.c-ticker__frame {
  width: 160px !important;
}
@media (max-width:768px) {
  .c-thumb-table .more-link {
    padding-top: 10px !important;
  }
}
/* ------------------------------------------ */
/* About pages https://test.adcb.com/en/about */
/* ------------------------------------------ */
.c-breadcrumbs__item:last-child a {
  pointer-events: all !important;
  cursor: default;
}
.c-quick-links .c-quick-login__list.is-expanded {
  max-height: inherit !important;
}
.c-quick-links .btn-login:hover:after {
  width: 204px;
}

.former-unb-list a:hover:after {
  color: #fff;
  background-color: #758c95 !important;
}

.former-unb-list a:after {
  background: #758c95 !important;
}
.c-quick-login__list li:first-child {
  margin-top: 0px
}
.c-quick-login__list li:last-child {
  margin-bottom: 0px !important;
}
.c-quick-links .c-quick-login__item {
  padding: 0px
}
.c-quick-login__item-adcb {
  position: relative;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: .2px;
  padding: 15px 5px;
}
.c-quick-login__item-unb {
  position: relative;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: .2px;
  background-color: #758c95;
  padding: 15px 5px;
}
.former-unb {
  color: #fff !important;
  left: 16px;
  position: relative;
}
.c-quick-links .btn-login {
  min-width: 204px !important;
}
.former-unb img {
  z-index: 99;
  position: relative;
  top: -4px;
  left: 0px;
  margin-right: 5px;
}
.-former-unb-customer {
  margin-top: 15vh;
  font-size: 28px !important;
  letter-spacing: 0 !important;
  border-left: 10px solid #758c95;
  color: #758c95;
}
.-former-unb-customer-mob {
  margin-top: 2.5vh;
  font-size: 32px !important;
  border-left: 5px solid #758c95;
  color: #758c95;
  padding-left: 16px !important;
}
.former-unb-list {
  border-left: 5px solid #758c95;
}
.bor-top-none {
  border-top: none;
}
.o-tabs__tab-content-thumb-wrap {
  z-index: 1;
}
.c-board-committee .useful-info-card__details.c-offer-card__details {
  transform: translateY(0px);
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
@media only screen and (orientation:landscape) {
  /*.c-quick-login__list.is-expanded {max-height: 300px !important;overflow: scroll;overflow-y: scroll;} */
}
@media (max-width: 768px) {
  .former-unb {
    left: 10px !important;
  }
  .c-main-nav .nav-footer__list li {
    padding-right: 10px;
    font-size: 13px;
  }
  .c-main-nav .nav-footer__list {
    padding-left: 5px;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 768px) {
  .c-quick-links .c-quick-login__list.is-expanded {
    right: -48px
  }
}
@media (min-width: 1280px) {
  .c-table-custom table tr td.-td-avg-font {
    /* fix for Annual general assymbly page */
    font-size: 17px;
    letter-spacing: .1px;
    font-weight: 400;
    color: rgb(118, 118, 118);
  }
  .c-table-custom .o-comp__content {
    margin-top: 24px;
  }
}