/* 01 - radio buttons */
.o-input__radio {
  position: relative;
  margin-left: 30px;
  font-weight: 400;
  input[type="radio"] {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
  }

  label {
    padding-left: 28px;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: rgba($brand-font, 0.7);
    &:before {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      //border: 1px solid rgba($brand-font, 0.4);
      border: 1px solid rgba($brand-font, 0.4);
    }
  }

  input[type="radio"]:checked + label {
    font-weight: 600;
    opacity: 1;
    color: $brand-font;
    // @include themify($themes) {
    //   color: themed('brand-font');
    // }
    &:before {
      border: 1px solid $brand-primary-light;
      // @include themify($themes) {
      //   border: 1px solid themed('brand-primary-light');
      // }
    }

    &:after {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      background: $brand-primary-light;
      // @include themify($themes) {
      //   background: themed('brand-primary-light');
      // }
    }
  }
}
