.c-leads {
  position: relative;
  width: 100%;

  &__container {
    margin-bottom: 75px;

    &.container {
      padding: 0;

      &:before,
      &:after {
        content: none;
      }
    }
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &.-grey-bg {
      background: $brand-light-gray;
      border: 0;
    }
  }

  &__img-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 0;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__content-desc {
    margin-bottom: 45px;
    //border-bottom: 1px solid rgba($brand-primary-font, 0.2);
    padding-bottom: 40px;
    background: rgba($brand-font, 0.05);
    padding: 50px 24px;
  }

  &__title {
    @include typography-page-section-commons();
    color: $brand-font;

    // @include themify($themes) {
    //   color: themed('$brand-font');
    // }
  }

  &__desc {
    @include typography-body-avg-commons();
    font-weight: 400;
    margin-top: 15px;
    line-height: 1.8;
    color: rgba($brand-font, 0.7);

    // @include themify($themes) {
    //   color: themed('$brand-font');
    // }

    ul {
      padding-left: 15px;
      font-weight: 400;
      margin-top: 1vw;
      display: table;

      li {
        @include typography-body-avg-commons();
        list-style-type: disc;
        padding-bottom: 2px;
        padding-left: 10px;
        line-height: 1.7;
        font-weight: 400;
        color: rgba($brand-font, 0.7);

        // @include themify($themes) {
        //   color: themed('brand-font');
        // }
      }
    }
  }
}

.c-leads__card {
  max-width: 470px;
  padding: 0 24px;

  .c-leads {
    &__title {
      @include typography-titles-commons();
      align-items: flex-start;
      text-align: left;
      flex-direction: column;
      margin-bottom: 23px;

      .c-leads__subtitle {
        @include typography-body-big-commons();
        line-height: 30px;
        margin: 0;
      }
    }

    &__content {
      margin-bottom: 0;
    }

    &__wrap {
      padding: 0;
      margin: 0 auto;
    }

    &__radio-wrapper {
      @include typography-body-avg-commons();
      display: flex;
      flex-direction: row;
      line-height: 30px;
      margin-bottom: 34px;
    }

    &__radio-btn {
      display: flex;
      margin-top: 20px;
      margin-bottom: 30px;

      .o-input__radio {
        position: relative;
        margin-left: 70px;

        &:first-child {
          margin-left: 0;
        }

        input[type="radio"] {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          visibility: hidden;
        }

        label {
          padding-left: 48px;
          position: relative;
          cursor: pointer;

          // @include themify($themes) {
          //   color: themed('$brand-font');
          // }
        }
      }
    }

    &__captcha-placeholder {
      display: inline-block;
      padding-left: 10px;
    }

    .o-btn-red {
      width: 100%;
      background-color: $brand-primary-light;

      // @include themify($themes) {
      //   background-color: themed('$brand-primary-light');
      // }

      &:disabled {
        background-color: $brand-light-gray;
        border-color: $brand-medium-gray;
        color: $brand-primary-font;

        // @include themify($themes) {
        //   background-color: themed('$brand-primary-font;');
        // }
      }
    }
  }
}

/*===========================
06 - media queries
===========================*/
/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .c-leads {
    &__container {
      margin-top: 8vw;
      margin-bottom: 0 !important; //8vw;// margins standardized top and bottom

      &.container {
        padding: 100px 96px;
      }
    }

    &__list {
      flex-direction: column;
      padding: 0;
    }

    &__img-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
    }

    &__img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &__content {
      max-width: 400px;
      margin-bottom: 0;
    }

    &__title {
      color: $white;

      // @include themify($themes) {
      //   color: themed('$white');
      // }
    }

    &__desc {
      font-size: 19px;
      color: rgba($white, 0.7);

      // @include themify($themes) {
      //   color: themed('$white');
      // }

      ul {
        li {
          color: rgba($white, 0.7);

          // @include themify($themes) {
          //   color: themed('$white');
          // }
        }
      }
    }

    &__content-desc {
      position: relative;
      margin-top: 50px;
      margin-right: 50px;
      border-bottom: 0;
      padding-top: 0;
      background: none;
    }

    &__card {
      position: relative;
      background: $brand-body-bg;

      // @include themify($themes) {
      //   background: themed('$brand-body-bg');
      // }

      //width: 50vw;
      border-radius: 1px;

      .c-leads {
        &__wrap {
          padding: 50px 40px;
        }

        &__radio-btn {
          margin-bottom: 30px;
        }
      }
    }
  }
}


/* 06 - (a) 992px & above */
/* Medium devices (desktops, 992px and up) */
/*@media (min-width: $screen-md-min) {}*/
@media (min-width: $screen-md-min) {
  .c-leads {
    &__container {
      margin-top: 75px;
      margin-bottom: 0; // margins standardized top and bottom
    }

    &__list {
      flex-direction: row;
    }

    &__content {
      max-width: 600px;
    }

    &__content-desc {
      margin-right: 100px;
    }

    //    &__card {
    //      width: 50vw;
    //    }
  }
}

/* Large devices (large desktops, 1232px and up) */
@media (min-width: $screen-lg-min) {
  .c-leads {
    &__container {
      margin-top: 100px;
      margin-bottom: 0;
    }
  }
}

/* X-Large devices (large desktops, 1440px and up) */
// @media (min-width: $screen-xl-min) {}
