/** General table custom class. **/

.c-table-custom {
  // @extend .c-cms-content;
  .o-comp__title {
    margin-bottom: 30px;
  }
  &__heading {
    margin-bottom: 35px;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &__title-left {
    font-size: 23px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.1px;
    text-align: left;
  }
  &__link-right {
    padding-top: 10px;
    .more-link {
      margin-left: 0;
      padding-top: 20px;
    }
  }
  table {
    border: none;
    width: 100%;
    thead {
      display: none;
    }
    tr {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 35px 0 30px;
      border-top: 1px solid $brand-medium-gray;
      background-color: $brand-body-bg;
      // @include themify($themes) {
      //   background-color: themed("$brand-body-bg");
      // }
      td {
        border: none;
        @include typography-body-big-commons();
        font-weight: 400;
        color: rgba($brand-font, 0.7);

        padding: 15px 0;
        line-height: 1.5;

        &.-bottom-line {
          border-bottom: 0;
        }
        &.-td-bold {
          font-weight: 600;
          color: $brand-font;
          // @include themify($themes) {
          //   color: themed("$brand-font");
          // }
        }
        &.-td-red {
          color: $brand-primary-light;
          // @include themify($themes) {
          //   color: themed("$brand-primary-light");
          // }

          .o-link-more {
            @include typography-body-big-commons();
            &:hover {
              text-decoration: none;
            }
          }
        }
        &.-td-bold-op {
          font-weight: 600;
        }
        .pdf-icon {
          color: $brand-primary-light;
          // @include themify($themes) {
          //   color: themed("$brand-primary-light");
          // }
        }
        &.-td-avg-font {
          @include typography-body-avg-commons();
        }
        &.-td-tiny-commons {
          @include typography-body-tiny-commons();
          .o-link-more {
            @include typography-body-tiny-commons();
          }
        }
        &.-no-opacity {
          color: $brand-font;
          // @include themify($themes) {
          //   color: themed("$brand-font");
          // }
        }
      }
      &.-bottom-line {
        border-bottom: 0;
      }
    }
  }

  &__link-wrapper {
    .more-link {
      width: 100%;
      text-align: center;

      .o-link-more {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &__note {
    @include typography-body-tiny-commons();
    font-weight: 600;
    color: rgba($brand-font, 0.7);
    margin: 30px 25px 0;
    padding-left: 0;
    .o-link-more {
      @include typography-label-tabs-commons();
      margin-right: 20px;
    }
  }
}
/*===========================
06 - media queries
===========================*/
@media (min-width: $screen-sm-min) {
  .c-table-custom {
    &__heading {
      flex-direction: row;
      align-items: flex-end;
      margin: auto auto 30px;
    }
    &__link-right {
      margin-right: 10px;
    }
    table {
      margin: auto;
      max-width: 1024px;
      thead {
        display: table-header-group;
        border-top: 1px solid $brand-medium-gray;
        background: $brand-body-bg;
        // @include themify($themes) {
        //   color: themed("$brand-body-bg");
        // }

        tr {
          height: unset;

          th {
            padding: 30px 0;
            text-align: left;
            width: auto;
            @include typography-label-tabs-commons;
            text-transform: uppercase;
            border: none;
            height: unset;
            color: rgba($brand-font, 0.4);
            &.-width {
              $max: 50;
              $step: 10;
              /*Generating the classes for width and max-width with a step count of 1*/
              @for $i from 1 through ceil($max/$step) {
                $widthpercentage: $i * $step;

                &-#{$widthpercentage} {
                  width: percentage($widthpercentage/100);

                  &-max {
                    max-width: percentage($widthpercentage/100);
                    width: auto;
                  }
                }
              }
            }
          }
        }
      }

      tr {
        display: table-row;
        min-height: 110px;
        td {
          padding: 30px 20px 30px 0;
          vertical-align: top;
          .c-thumb-downloads {
            display: flex;
            justify-content: space-between;
          }
          .-thumbnail {
            height: 100%;
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: flex-start;
            .c-thumb-table {
              order: 0;
              margin-left: 50px;
              margin-top: 2px;
            }
          }
          &.-vertical-top {
            vertical-align: top;
          }
        }
        &.-no-border-top {
          border-top: none;
        }
        &.-bottom-line {
          border-bottom: 1px solid;
          border-bottom-color: $brand-medium-gray;
        }
      }
    }
    &__link-wrapper {
      .more-link {
        margin-top: 80px;
      }
    }
    &__note {
      padding-left: $gutter-desktop;
    }
  }
}

/* 06 - (a) 992px & above */
/* Medium devices (desktops, 992px and up) */
/*@media (min-width: $screen-md-min) {}*/
//@media (min-width: $screen-lg-min) {}

/* X-Large devices (large desktops, 1440px and up) */
//@media (min-width: $screen-xl-min) {}
