/* ==============================================================================
Index
----------------------------------------
01 - calculator overlay css
02 - media queries

============================================================================== */

/* 01 - START:calculator overlay css */

.c-login-overlay {
  padding-bottom: 0;
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .o-comp__content {
    margin: 0;
  }
  &__wrapper {
    display: block;
    .o-tabs__tab-content-summary {
      margin-bottom: 50px;
    }
  }
  &__popup {
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    border-radius: 1px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff;
    text-align: left;
    padding: 100px 25px;
    .icon-close {
      cursor: pointer;
      position: absolute;
      line-height: 0;
      font-size: 24px;
      top: 30px;
      right: 30px;
      cursor: pointer;
    }
  }

  &__title {
    @include typography-titles-commons();
    font-weight: 600;
    margin-top: 0;
    color: $brand-font;
    // @include themify($themes) {
    //   color: themed("brand-font");
    // }
  }
  &__summary {
    @include typography-body-tiny-commons();
    font-weight: 400;
    color: rgba($brand-font, 0.7);
    line-height: 1.67;
    // @include themify($themes) {
    //   color: themed("brand-font");
    // }
  }
  &__input {
    margin-top: 30px;
    position: relative;
    .c-calculator {
      &__input {
        &-text-box {
          width: 100%;
          max-width: inherit;
          border: solid 1px rgba($brand-font, 0.2);
        }
        &-text-tooltip {
          @include typography-label-tabs-commons();
          font-weight: 600;
          color: rgba($brand-font, 0.5);
          position: absolute;
          right: 13px;
          top: 15px;
          &.-tooltip-link {
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  &.-login-terms-overlay {
    .c-login-overlay {
      &__popup {
        padding: 100px 30px 36px;
        text-align: center;
      }
      &__title {
        color: $brand-primary-light;
        @include typography-label-tabs-commons();
      }
      &__heading {
        @include typography-page-title-commons();
        margin-bottom: 80px;
        margin-top: 15px;
      }
      &__para {
        @include typography-body-tiny-commons();
        color: rgba($brand-font, 0.7);
        text-align: left;
        line-height: 1.67;
        &.-intro {
          font-weight: 600;
          color: $brand-font;
        }
      }
      &__sub-title {
        @include typography-body-avg-commons();
        font-weight: 600;
        margin-top: 60px;
        line-height: 1.67;
        text-align: left;
      }
    }
  }
  &.-login-otp-overlay {
    .c-login-overlay {
      &__title {
        @include typography-page-section-commons();
      }
      &__summary {
        @include typography-body-avg-commons();
      }
      &__button-holder {
        display: block;
        .-btn-left {
          margin-bottom: 10px;
          margin-top: 40px;
          border: solid 1px $brand-silver;
          background: $brand-body-bg;
          color: $brand-font !important;
        }
      }
    }
  }
  &__img-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 325px;
  }
}

/** 01 - END:calculator overlay css  **/

/*===========================
      02 - media queries
      ===========================*/

/* Small devices (tablets, 768px and up) */
/* @media (min-width: $screen-sm-min) {} */
@media (min-width: $screen-sm-min) {
  .c-login-overlay {
    padding-bottom: 25px;
    .o-comp__content {
      margin: 60px 0;
    }
    &__popup {
      padding: 80px 210px 70px 52px;
      min-height: auto;
      max-width: 728px;
      margin: 0 auto;
    }
    &__popup {
      .icon-close {
        &:before {
          position: relative;
          z-index: 1;
        }
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 0;
          height: 0;
          z-index: 0;
          border-radius: 50%;
          @include transition-cubic(all, 400ms);
          background: rgba($brand-font, 0.1);
        }

        &:hover {
          &:after {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
    &__input {
      .c-calculator {
        &__input {
          &-text-box {
            @include typography-body-avg-commons();
          }
        }
      }
    }
    &.-login-otp-overlay {
      .c-login-overlay {
        &__popup {
          padding: 100px 130px;
          text-align: center;
        }
        &__button-holder {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            .-btn-left {
              margin-right: 25px;
              margin-bottom: 0;
              margin-top: 0;
              border: solid 1px $brand-silver;
              background: $brand-body-bg;
              color: $brand-font !important;
            }
          }
      }
    }
    &.-login-card-overlay {
      .c-login-overlay {
        &__popup {
          padding: 80px 208px 60px 40px;
          text-align: left;
        }
        &__img-wrapper {
          margin-top: 25px;
        }
      }
    }
    &.-login-terms-overlay {
      .c-login-overlay {
        &__popup {
          padding: 100px 78px;
        }
      }
    }
  }
}

/* Medium devices (desktops, 992px and up)
  @media (min-width: $screen-md-min) {} */

/* Large devices (large desktops, 1232px and up) */
@media (min-width: $screen-lg-min) {
  .c-login-overlay {
    &__modal-title {
      display: block;
      @include typography-page-section-commons();
    }
  }
}

/* X-Large devices (large desktops, 1440px and up) */
@media (min-width: $screen-xl-min) {
  .c-login-overlay {
    .container {
      max-width: 100%; // Modal was not appearing in the center in IE, since max-width was set to 1140px
    }
  }
}
