/* ==============================================================================
Index
----------------------------------------
01 - c-product-feature
02 - o-comp__content overrides for 1232px max-width
03 - media queries
03 - (a) 992px & above
04 -
05 -
06 -
07 -
08 -
============================================================================== */

/* 01 - c-product-feature */

.c-product-card {
  /* 02 - o-comp__content overrides for 1232px max-width */
  .o-comp {
    &__content {
      max-width: calc(1260px + #{$gutter-desktop} * 2);
      // margin-bottom: 0;
      // margin-top: 75px;
    }
    &__title {
      justify-content: center;
    }
  }
  &__summary {
    //font-size: 19px;
    @include typography-body-big-commons();
    line-height: 1.5;
    margin: 20px 0 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: rgba($brand-font, 0.7);
    // @include themify($themes) {
    //   color: themed("brand-font");
    // }
    p {
      margin: 0;
      max-width: 700px;
    }
  }
  &__list {
    //margin-top: 60px;
    margin-bottom: -15px;
    width: 100%;
    //max-width: 900px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  &__item {
    margin-bottom: 10px;
    display: initial;
    max-width: 300px;
    width: 100%;
  }
  &__holder {
    max-width: 900px;
    margin: 0 auto;
    .c-product-card {
      max-width: unset;
      margin-right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      &__list {
        justify-content: flex-start;
      }
    }
  }
}

@media (max-width: $screen-sm-min) {
  .c-product-card {
    
    .o-comp {
      &__content {
        padding-top: 0;
        h2 {
          text-align: center;
          margin-bottom: 0;
        }
      }
      &__title {
        margin-bottom: 10px;
        h2 {
          max-width: 620px;
        }
      }
    }
    .c-feature-card {
      &__details {
        padding-top: 10px;
      }
      &__title {
        margin-bottom: 5px;
      }
      &__summary {
        padding-top: 0;
        margin-top: 0;
      }
    }
  }
}

/*===========================
03 - media queries
===========================*/

/* 03 - (a) 768px & above */

/* Small devices (tablets, 768px and up) */

@media (min-width: $screen-sm-min) {
  .c-product-card {
    flex: 1 2 auto;
    width: 100%;
    margin-right: 0;
    &__item {
      flex: 1 1 45%;
      &:not(.hide) {
        margin-right: 20px;
      }
      &:not(.hide:nth-child(odd)) {
        margin-right: 0;
      }
    }
    .o-comp {
      &__title {
        margin-bottom: 30px;
        h2 {
          margin: 0;
          text-align: center;
        }
      }
    }
    &__summary {
      margin: 10px auto 60px;
      text-align: center;
    }
    &__list {
      justify-content: space-between;
      flex-flow: row wrap;
      align-items: stretch;
      margin: 0 auto -15px; // discussed and applied negative margin on large only.
    }
    &__item {
      /*margin-bottom: 2px;*/
      max-width: 280px;
      width: 100%;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
// @media (max-width: $screen-md-min) {}

/* Large devices (large desktops, 1232px and up)*/
@media (min-width: $screen-lg-min) {
  .c-product-card {
    margin-right: 60px;
    max-width: 600px;
  }
}

/* X-Large devices (large desktops, 1440px and up) */
/* @media (min-width: $screen-xl-min) {} */
