/* ==============================================================================
Index
----------------------------------------
01 - c-touchpoints
02
03
04
05
06
06
07
08
============================================================================== */
/* 01 - c-touchpoints */
.c-touchpoints {
  .o-comp {
    &__content {
      &.container {
        max-width: 1000px;

      }
    }

    &__title {
      margin-bottom: 0;
    }
  }

  .c-cms-content {
    margin-top: 0;

    & h3 {
      // font-size: 23px;
      @include typography-page-title-commons();
      line-height: 1.5;
      margin-bottom: 20px;
    }

    & p {
      color: rgba($brand-font, 0.7);
    }
  }
}

.touchpoint-link{
  display: none;
}

/*===========================
  03 - media queries
  ===========================*/
/* 03 - (a) 768px & above */
/* Small devices (tablets, 768px and up) */
/*@media (min-width: $screen-sm-min) {}*/
/* Medium devices (desktops, 992px and up) */
/*@media (min-width: $screen-md-min) {}*/

/* Large devices (large desktops, 1232px and up) */
@media (min-width: $screen-sm-min) {
  .c-touchpoints {
    .o-comp {
      &__content {
        &.container {
          text-align: center;
        }
      }
    }

    .c-cms-content {
      & h3 {
        // font-size: 35px;
        @include typography-page-section-commons();
        margin-bottom: 10px;
      }

      p {
        margin-top: 0;
        margin-bottom: 2em;

        &+p {
          margin-bottom: 0;
        }
      }
    }
  }
}
