.c-calculator-table {
  .c-cms-content {
    margin-top: 0;
  }
  &__tnc {
    @include typography-legal-commons();
    line-height: 1.5;
    margin-top: 70px;
    text-align: left;
    color: rgba($brand-font, 0.5);
    font-size: 17px;
    letter-spacing:0.1;
    padding: 0 $gutter-mobile;

    &-title {
      font-size: 23px;
      font-weight: 600;
      line-height: 1.3;
      letter-spacing: -0.1px;
      color: $brand-font;
      display: block;
    }
  }
}

@media (min-width: $screen-md-min) {
  .c-calculator-table {
    &__tnc {
      max-width: 988px;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      padding-left: 0;
    }
    .c-cms-content {
      table {
        display: table;
        border: 0;
        width: 100%;
        table-layout: auto;
        thead {
          display: table-header-group;
          background: none;
          border-radius: 1px;
          border-bottom: 1px solid rgba($brand-font, 0.2);
        }
        td,
        th {
          height: auto;
          @include typography-body-big-commons();
          display: table-cell;
          padding: 15px 25px;
          border: 0;
          &.particulars {
            max-width: 500px;
          }
        }
        th {
          padding-top: 0;
          font-weight: 600;
        }
        td {
          position: inherit;
          &:before {
            display: none;
          }
        }
        tr {
          display: table-row;
          &:nth-child(even) {
            background-color: rgba($brand-font, 0.05);
          }
        }
        tbody {
          display: table-row-group;
        }
      }
    }
  }
}
