.o-comp-collapse {
  .o-comp-collapse__content {
    overflow: hidden;
    transition: all 0.5s ease;
    opacity: 1;
    max-height: 600px;
  }
  &.collapsed {
    .o-comp-collapse__content {
      max-height: 0 !important;
      opacity: 0;
      transition: all 0.5s ease;
    }
    .nav-lvl01__link:after {
      transform: rotate(45deg) scaleX(-1);
    }
  }
}
